<h1>Novo Grupo</h1>
<p>
    {{ group | json}}
</p>
<form #f="ngForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
        <label for="name">Nome</label>
        <input id="name" type="text" class="form-control" [(ngModel)]="group.name" name="name" required #name="ngModel" />
        <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Por favor de um nome a este grupo.</div>
    </div>
    <div class="form-group">
        <label for="company">Empresa</label>
        <select id="company" class="form-control" (change)="onCompanyChange()" [(ngModel)]="group.companyId" name="companyId" required #company="ngModel">
            <option value=""></option>
            <option *ngFor="let c of companies" value="{{ c.id }}">{{ c.name }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="company.touched && !company.valid">Por favor selecione a empresa.</div>
    </div>
    <div class="form-group">
        <label for="dbConfigId">Configuração Banco de Dados</label>
        <select id="dbConfig" class="form-control" [(ngModel)]="group.dbConfigId" name="dbConfigId" required #dbconfig="ngModel">
            <option *ngFor="let c of dbConfigs" value="{{ c.id }}">{{ c.name }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="dbconfig.touched && !dbconfig.valid">Por favor selecione a configuração do banco de dados.</div>
    </div>

    <p>Este grupo esta ativo?</p>
    <label for="activated" class="radio-inline">
        <input type="radio" name="isActive" id="activated" [value]="true" [(ngModel)]="group.isActive"> Sim
    </label>
    <label for="notActivated" class="radio-inline">
        <input type="radio" name="isActive" id="notActivated" [value]="false" [(ngModel)]="group.isActive"> Não
    </label>
    <h2>Usuários</h2>
    <div class="form-group">
        <div *ngFor="let au of users" class="checkbox form-control">
            <label for="user{{ au.id }}">
                <input type="checkbox" id="user{{ au.id }}" (change)="onUserToggle(au.id, $event)" [checked]="group.appUsers.includes(au.id)"> {{ au.name }}
            </label>
        </div>
    </div>
    <button class="btn btn-primary">Salvar</button>
</form>