<h1>Grupos</h1>

<p>
    <a [routerLink]="['/groups/new']" class="btn btn-primary">Criar Grupo</a>
</p>

<div class="well">
    <div class="form-group">
        <label for="company">Empresa</label>
        <select id="company" class="form-control" [(ngModel)]="query.companyId" (change)="onFilterChange()">
            <option value=""></option>
            <option *ngFor="let c of companies" value="{{ c.id }}">{{ c.name }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="dbConfig">Configuração Banco de dados</label>
        <select id="dbConfig" class="form-control" [(ngModel)]="query.dbConfigId" (change)="onFilterChange()">
            <option value=""></option>
            <option *ngFor="let d of dbConfigs" value="{{ d.id }}">{{ d.name }}</option>
        </select>
    </div>
    <button class="btn btn-default" (click)="resetFilter()">Reset</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th *ngFor="let c of columns" >
                <div  *ngIf="c.isSortable" (click)="sortBy(c.key)" >
                    {{ c.title }}
                    <i *ngIf="query.sortBy === c.key"
                       class="fa"
                       [class.fa-sort-asc]="query.isSortAscending"
                       [class.fa-sort-desc]="!query.isSortAscending">
                    </i>
                </div>
                <div *ngIf="!c.isSortable">
                    {{ c.title }}
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let g of queryResult.items">
            <td>{{ g.id }}</td>
            <td>{{ g.name }}</td>
            <td>{{ g.company.name }}</td>
            <td>{{ g.dbConfig.name }}</td>
            <td>{{ g.isActive }}</td>
            <td>
                <a [routerLink]="['/groups/', g.id]">Ver</a>
            </td>
        </tr>
    </tbody>
</table>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>
